.hero-background-color {
  background-color: #0b030c;
  padding-bottom: 1px;
  position: relative;
  overflow: hidden;

  background-image:
    radial-gradient(circle at 50% -20%, rgba(63, 15, 65, 0.6), transparent 80%),
    linear-gradient(to bottom, transparent 50%, #000000 100%);
}

.hero-background-color::before {
  content: "";
  position: absolute;
  inset: 0;
  background: radial-gradient(at center, transparent, var(--black-base) 90%);
  pointer-events: none;
  z-index: 0;
}

.hero-background {
  background: url(../../assets/img/bg-hero.svg) no-repeat center top;
  background-size: cover;
  width: 100%;
  aspect-ratio: 375 / 464;

  display: flow-root; /* Fixes margin collapse from child elements */

  position: relative;
  z-index: 1;

  animation: fadeIn 1s ease-in-out 0.8s backwards;
}

.hero-background .description {
  display: grid;
  gap: 16px;
  text-align: center;
  margin: 48px auto 193px auto;
  max-width: 335px;
}

.hero-content h1 {
  font: var(--title-sm);
  line-height: 100%;
  margin-bottom: 8px;
  animation: fadeIn 1.2s ease-in-out forwards;
}

.hero-content h2 {
  font: var(--fs-body-sm);
  max-width: 100%;
  line-height: 120%;
  animation: fadeIn 1.4s ease-in-out 0.4s backwards;
}

.subtitle-body {
  margin: 120px auto;
  max-width: 335px;
  font-weight: var(--weight-medium);
  text-align: center;
}

/* Floating Elements Positioning */
.blue-book {
  top: -58px;
  left: 230px;
  height: 55px;
  width: 55px;
}

.planchette {
  top: 78px;
  left: -15px;
  height: 45px;
  width: 45px;
  transform: rotate(232deg);
}

.crystal-ball {
  width: 90px;
  height: 90px;
  top: 125px;
  right: -60px;
}

@media (width >= 80em) {
  .container {
    max-width: 1440px;
    margin-inline: auto;
  }

  .hero-background {
    height: auto;
    aspect-ratio: 1440 / 948; /* Maintains SVG native proportions on large screens */
    min-height: 948px;
    background-position: center;
    background-size: 100% auto;
  }

  .hero-background .description {
    max-width: 656px;
    gap: 32px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    margin-bottom: 300px;
  }

  .hero-content h1 {
    font: var(--title-lg);
    width: 650px;
    margin-inline: auto;
  }

  .hero-content h2 {
    font: var(--body-lg);
    width: 500px;
    margin-inline: auto;
  }

  .blue-book {
    top: -100px;
    left: 560px;
    height: 110px;
    width: 110px;
  }

  .planchette {
    top: 130px;
    left: -30px;
    height: 100px;
    width: 100px;
    transform: rotate(0deg);
  }

  .subtitle-body {
    font: var(--subtitle);
    margin: 300px auto;
    max-width: 1240px;
    text-align: center;
  }

  .text-group {
    color: rgba(255, 255, 255, 0.2);
    transition: color 0.5s ease-in-out;
  }

  .text-group .highlight {
    display: inline-block;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.2);
    transition: color 0.5s ease-in-out;
  }

  .blue-book,
  .planchette,
  .crystal-ball {
    opacity: 0;
    pointer-events: none;
  }

  .blue-book {
    scale: 0;
    transition:
      opacity 0.5s ease-in-out,
      scale 0.5s ease-in-out;
  }

  .planchette,
  .crystal-ball {
    transition: opacity 0.5s ease-in-out;
  }

  .external-content {
    padding: 1px 0;
  }

  .blue-book,
  .planchette,
  .crystal-ball {
    opacity: 0;
    scale: 0;
    transform: rotate(0deg);
    pointer-events: none;
    position: absolute;

    transition:
      opacity 0.5s ease-in-out,
      scale 0.5s ease-out,
      transform 0.5s ease-out;
    transition-delay: 0s;
  }

  .planchette {
    transform: rotate(0deg);
  }
  .crystal-ball {
    transform: rotate(0deg);
  }
  .blue-book {
    transform: rotate(0deg);
  }

  .external-content:hover .blue-book,
  .external-content:hover .planchette,
  .external-content:hover .crystal-ball {
    opacity: 1;
    scale: 1;
    pointer-events: all;
  }

  .external-content:hover .blue-book {
    transition-delay: 0s;
  }
  .external-content:hover .planchette {
    transition-delay: 0.5s;
  }
  .external-content:hover .crystal-ball {
    transition-delay: 1s;
  }

  .external-content:hover .text-group:nth-of-type(1),
  .external-content:hover .text-group:nth-of-type(1) .highlight {
    transition-delay: 0s;
  }

  .external-content:hover .text-group:nth-of-type(2),
  .external-content:hover .text-group:nth-of-type(2) .highlight {
    transition-delay: 0.5s;
  }

  .external-content:hover .text-group:nth-of-type(3),
  .external-content:hover .text-group:nth-of-type(3) .highlight {
    transition-delay: 1s;
  }

  .external-content:hover .text-group {
    color: #fff;
  }
  .external-content:hover .text-group .highlight {
    color: var(--blue-light);
  }

  .blue-book:hover,
  .planchette:hover,
  .crystal-ball:hover {
    transform: rotate(15deg) !important;
    scale: 1.1 !important;
    transition-delay: 0s !important;
    z-index: 10;
  }
}
