nav {
  width: 100%;
  max-width: 335px;
  height: 48px;
  margin-inline: auto;
  padding-top: 20px;
  align-items: center;

  & svg {
    width: 64px;
    height: 48px;
    margin-right: auto;
    color: var(--text-body);
  }
}

@media (width >= 80em) {
  nav {
    max-width: 1220px;
    width: 100%;
    height: 58px;
    margin-inline: auto;
    padding-top: 56px;

    & svg {
      width: 230px;
      height: 58px;
    }
  }
}
